* {
  margin: 0;
  padding: 0;
}

.smart-table {
  font-family: "Lucida Sans Unicode";
  font-size: 12px;
  margin: 45px;
  width: 480px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #69c;
}

.smart-table thead {
  font-weight: normal;
  font-size: 14px;
  color: #039;
  border-bottom: 1px dashed #69c;
  background-color: #69c;
}

.smart-table td {
  padding: 7px 17px 7px 17px;
  color: #669;
  position: relative
}

.smart-table tbody tr:hover td {
  color: #339;
  background: #d0dafd;
}

.arrow-down, .arrow-up {
  position: absolute;
  right: 15px;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  cursor: pointer;
}

.arrow-down {
  border-top: 6px solid #fff;
  bottom: 11px;
}

.arrow-up {
  top: 10px;
  border-bottom: 6px solid #fff;
}
