* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

body {
    font-size: 16px;
}

.container {
    min-width: 1280px;
    font-family: 微软雅黑;
}

.head {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 3px;
    background-color: #fff;
    height: 40px;
    overflow: auto;
}

.logo {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
}

.logo span {
    font-size: 18px;
    float: right;
    margin-left: 4px
}

.menu {
    height: 40px;
    float: right;
}

.menu li {
    width: 70px;
    height: 40px;
    line-height: 40px;
    color: #787B83;
    text-align: center;
    list-style: none;
    float: left;
    margin-left: 20px;
    display: inline-block;
}

.menu li a {
    color: #999BA0;
}

.menu li:first-child {
    border-bottom: 3px solid #E74F4D;
}

.menu li:first-child a,
.menu li:last-child a {
    color: #E74F4D;
    /*看一看别人是如何控制链接的颜色的*/
}

.menu li:hover {
    border-bottom: 3px solid #E74F4D;
    color: #E74F4D;
}

.user-ico {
    margin-right: 2px;
    margin-bottom: -3px;
    /*如何优雅的解决这个user-ico*/
}


/*enjot*/

.enjoy {
    width: 100%;
}

.carousel {
    position: relative;
}

.carousel img {
    width: 100%;
    height: 700px;
}

.carousel .new-life {
    width: 450px;
    position: absolute;
    top: 188px;
    left: 92px;
}

.carousel .new-life h3 {
    font-weight: 400;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
}

.carousel .new-life p {
    width: 300px;
    margin-bottom: 70px;
    color: #fff;
    font-size: 18px;
}

.carousel .new-life .start-exper {
    text-align: center;
    width: 300px;
    height: 50px;
    background-color: #E74F4D;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.feature {
    width: 100%;
    overflow: auto;
}

.feature ul {
    overflow: auto;
}

.feature ul li {
    width: 25%;
    height: 255px;
    text-align: center;
    list-style: none;
    display: inline-block;
    float: left;
}

.feature ul li img {
    padding: 43px;
}

.feature ul li p {
    padding: 5px 97px;
    border-right: 1px solid #AAAAAA;
}

.feature ul li:last-child p {
    border-right: 0;
}


/*关于新世界，你不知道的还有什么*/

.world-dont-know {
    width: 100%;
    background-color: #EDECEC;
}

.not-know {
    text-align: center;
    margin-bottom: 50px;
}

.not-know img {
    padding: 50px;
}

.not-know h2 {
    color: #A9A9A9;
    font-weight: 400;
    font-size: xx-large;
}


/*查找新世界城市活动信息*/

.search-acvitity {
    text-align: center;
    width: 100%;
    height: 380px;
    background: url(../img/search_bac.jpg) no-repeat;
    background-size: cover; //背景图片覆盖容器,这玩意导致margin-bottom失效？
    padding-bottom: 20px;
}

.search-acvitity h3 {
    font-weight: 400;
    padding-top: 40px;
    color: #fff;
}

.search-acvitity .small {
    padding-top: 10px;
    padding-bottom: 40px;
    color: #fff;
    font-size: 13px;
}

.acvitity-list {
    width: 1071px;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
}

.acvitity-list li {
    float: left;
    list-style: none;
    margin-right: 40px;
}

.diy-select {
    width: 200px;
    height: 20px;
    background: url(../img/btnb.png) right 5px top 6px no-repeat;
    background-color: #fff;
    border: 0;
    outline: 0;
    padding: 5px 27px 5px 10px;
    font-family: 微软雅黑;
    color: #aaa;
}

.search {
    text-align: center;
    width: 200px;
    height: 30px;
    background-color: #E74F4D;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.list {
    width: 237px;
    overflow: auto;
    background-color: #ccc;
}

.list li {
    width: 202px;
    height: 30px;
    background: url(../img/hook.png) top 6px left 5px no-repeat;
    margin-right: 0;
    line-height: 30px;
    text-align: left;
    padding-left: 32px;
    font-size: 14px;
    margin-bottom: 7px;
}

.list li:hover {
    border: 1px solid #BE4E48;
    background-color: #BE4E48;
    color: #fff;
}

//各个城市的活动
.city-activity {}

.city-activity ul {
    width: 1098px;
    margin: 0 auto;
}

.city-pic {
    width: 223px;
    height: 411px;
    display: inline-block;
    margin-right: 43px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.city-activity ul li {
    display: inline-block;
    padding: 15px 10px;
    background-color: #fff;
    margin-right: 74px;
}

.description h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: #000;
    background-color: #EDECEC;
}

.description p {
    background-color: #EDECEC;
    padding-bottom: 10px;
    text-align: center;
    color: #ccc;
    font-size: 14px;
}


/*新世界 time 查看更多*/

.new-world-show {
    width: 100%;
    overflow: auto;
    min-width: 1280px;
}

.new-world-show {
    font-size: 0;
    /*解决inline-block垂直的边距*/
}

.new-world-show .time {
    position: relative;
    background: url(../img/info1_bac_1.jpg) no-repeat;
    width: 66.67%;
    height: 600px;
    background-size: cover;
    overflow: auto;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.new-world-show .time:after {
    content: '';
    position: absolute;
    border-width: 30px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    top: 250px;
    left: 100%;
    margin-left: -60px;
}

.new-world-show .time .time-area {
    position: absolute;
    width: 423px;
    height: 253px;
    top: 50%;
    left: 50%;
    margin-left: -212px;
    margin-top: -127px;
}

.new-world-show .time .time-area h1 {
    font-size: 150px;
    height: 150px;
    line-height: 150px;
}

.new-world-show .time .time-area h2 {
    font-size: 36px;
    height: 31px;
    font-weight: normal;
}

.new-world-show .time .time-area p {
    height: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.new-world-show .box {
    position: relative;
    width: 33.33%;
    height: 600px;
    background-color: #fff;
    color: #000;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.new-world-show .box {}

.new-world-show .box .box-inner {
    width: 400px;
    height: 178px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.new-world-show .box .box-inner h3 {
    font-weight: normal;
    margin: 0 auto 20px;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color: #000;
}

.new-world-show .box .box-inner hr {
    width: 30px;
    margin: 5px auto;
    border: 1px solid #ccc;
}

.new-world-show .box .box-inner .btn {
    display: block;
    margin: 25px auto;
    padding: 10px 44px;
    border: 1px solid #e74f4d;
    color: #e74f4d;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    width: 30%;
}

.new-world-show .box.red {
    background-color: #e74f4d;
}

.new-world-show .box.red .box-inner h3 {
    color: #fff;
}

.new-world-show .box.red .box-inner hr {
    border: 1px solid #fff;
}

.new-world-show .box.red .box-inner .btn {
    border: 1px solid #fff;
    color: #fff;
}

.new-world-show .box.pic-box {
    background: url(../img/pic08.jpg);
    background-size: cover;
}

.new-world-show .box.pic-box:before {
    content: '';
    position: absolute;
    border-width: 30px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    top: 250px;
    right: 100%;
    margin-right: -60px;
}


/*volunter志愿者*/

.volunter {
    padding: 50px 120px;
    background-color: #fff;
}

.volunter .volunter-title-h3 {
    text-align: center;
    font-weight: normal;
}

.volunter hr {
    width: 30px;
    margin: 10px auto;
    border: 1px solid #e74f4d;
    text-align: center;
}

.volunter .p-1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.volunter-area {
}

.volunter-area .volunter-detail {
    width: 39%;
    font-size: 13px;
    display: inline-block;
    margin-right: 5%;
}

.volunter-area .volunter-detail .detail {
    overflow: auto;
}

.volunter-area .volunter-detail .detail h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.volunter-area .volunter-detail .detail .more-detail {
    float: right;
}

.become-volunter {
    width: 55%;
    display: inline-block;
}

.become-volunter input {
    display: inline-block;
    border: none;
    outline: 0;
    background: #EDEDEE;
    padding: 15px 20px;
    margin-top: 20px;
    margin-right: 20px;
    width: 40%;
}

.become-volunter textarea {
    padding: 20px;
    background-color: #EDEDEE;
    border: none;
    outline: 0;
    width: 87.5%;
    margin-top: 20px;
}

.become-volunter button {
    background-color: #EDEDEE;
    border: none;
    outline: 0;
    width: 91.8%;
    height: 50px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}


/*footer 底部*/

footer {
    padding: 100px 100px 30px 100px;
    background-color: #32353E;
    color: #fff;
    text-align: center;
}

footer h3 {
    font-weight: normal;
    width: 100%;
}

footer p {
    padding: 20px 100px;
}

footer .input-info .input-email {
    height: 15px;
    width: 30%;
    padding: 10px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    line-height: 15px;
}

footer .input-info .submit-btn {
    height: 35px;
    width: 70px;
    background: #6F7178;
    color: #fff;
    outline: 0;
    border: none;
    cursor: pointer;
    line-height: 35px;
}

footer .contact-us {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

footer .contact-us .ico {
    display: inline-block;
    width: 29px;
    height: 25px;
    margin-right: 25px;
}

footer .contact-us .ico.qq {
    background: url(../img/qq_icon.png) no-repeat;
}

footer .contact-us .ico.weibo {
    background: url(../img/weibo_icon.png) no-repeat;
}

footer .contact-us .ico.twitter {
    background: url(../img/twiter_icon.png) no-repeat;
}

footer .contact-us .ico.blog {
    background: url(../img/blog_icon.png) no-repeat;
}

.new-world-2016 {
    float: left;
    color: #fff;
}

.back-top {
    float: right;
    color: #fff;
}
