* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

.flight-area {
  /*飞行区域*/
  color: #fff;
  margin: 0 auto;
  width: 500px;
  margin-top: 50px;
}

.flight-area .flight-path-500,
.flight-area .flight-path-400,
.flight-area .flight-path-300,
.flight-area .flight-path-200,
.flight-area .start {
  /*飞行轨道*/
  border: 1px solid #fff;
  position: relative;
  box-sizing: border-box;
}

.flight-area .flight-path-500 {
  height: 500px;
  width: 500px;
  border-radius: 500px;
}

.flight-area .flight-path-400 {
  height: 400px;
  width: 400px;
  border-radius: 400px;
  margin-top: 50px;
  margin-left: 50px;
}

.flight-area .flight-path-300 {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  margin-top: 50px;
  margin-left: 50px;
}

.flight-area .flight-path-200 {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  margin-top: 50px;
  margin-left: 50px;
}

.flight-area .start {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin-top: 50px;
  margin-left: 50px;
  background-color: blue;
}

.flight {
  height: 50px;
  width: 50px;
  background: green;
  position: absolute;
  text-align: center;
  border-radius: 50px;
  line-height: 50px;
}

.control-panel {
  /*控制台*/
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: auto;
  padding-bottom: 10px;
}

.control-panel .command-list{
  font-size: 12px;
  color: green;
  padding-bottom: 10px;
}

.control-panel .command-input{
  width: 99%;
  border: 1px solid #008000;
  outline: none;
  background-color: #000;
  height: 20px;
  padding: 3px 5px;
  color: #008000;
}
