* {
  margin: 0;
  padding: 0;
}

body {
  font-style: "";
  font-size: 14px;
}

form {
  padding: 10px;
}

.group {}

.group .label-name {
  color: #000;
  margin-right: 20px;
}

.group .data-input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.group .data-input:focus {
  outline: 0;
}

.group .vertify-btn {
  padding: 10px;
  background-color: #2D77B8;
  text-align: center;
  outline: 0;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.group .tips {
  margin-left: 54px;
  margin-top: 5px;
  color: #8C8484;
}

.group .wrong-tips {
  margin-left: 54px;
  margin-top: 5px;
  color: red;
}

.group .correct-tips {
  margin-left: 54px;
  margin-top: 5px;
  color: green;
}
