@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7124sm');
  src:  url('../fonts/icomoon.eot?7124sm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7124sm') format('truetype'),
    url('../fonts/icomoon.woff?7124sm') format('woff'),
    url('../fonts/icomoon.svg?7124sm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down, .icon-arrow-up{
  cursor: pointer;
  position: absolute;
  top: 0;
}

.icon-arrow-down {
  right: 13px;
}

.icon-arrow-up {
  right: 53px;
}

.icon-arrow-up:before {
  content: "\ea3a";
}
.icon-arrow-down:before {
  content: "\ea3e";
}

